.root {
    -fx-background-color: linear-gradient(to right, #232526, #414345);
    -hlight-gradient: linear-gradient(to bottom, #fff9a4, #ffe28a);

    -primary: rgba(255, 255, 255, 0.55);
    -secondary: #ffef63;
    -tertiary: #fcc200;
    -tertiary-armed: #FDDD71;
}

.highlight-rectangle {
    -fx-background-color: derive(-primary, 50%);
    -fx-background-radius: 5px;
}

.root .label{
    -fx-text-fill: #d9d7d7;
    -fx-font-size: 120%;
}

.table-view .label {
    -fx-text-fill: #404040;
    -fx-font-size: 100%;
}

.text-field {
    -fill: white;
    -fx-background-color: -fill;
}

.button {
    -fill: white;

    -fx-font-size: 100%;
    -fx-font-weight: bold;

    -fx-background-color: -fill;
}

.button:hover {
    -fill: -tertiary;
}

.button:armed {
    -fill: -tertiary-armed;
}

.text-field {
    -fx-accent: -tertiary-armed ;
}

/* TABLES */


.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -hlight-gradient;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell {
    -fx-text-background-color: rgba(227, 227, 227, 0.77);
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -tertiary;
}

.table-row-cell:even{
    -fx-background-color: linear-gradient(to right, #232526, #414345);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: rgba(215, 178, 71, 0.12);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-row-cell:selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: -hlight-gradient;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to bottom, #f5efac, #f8dfa0);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
